@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Hearts Online";
    var gameId = ViewData["gameId"];
    var gameDescription = ViewData["gameDescription"];
}

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            @if (gameId == "" || gameId == null)
            {
                <form name="input" method="get">
                    <input type="hidden" name="gameId" value="newGame">                    
                    <input type="submit" value="start">
                </form>
            }
            else{
                @Html.Raw(Html.Encode(gameDescription).Replace("\n", "<br />"))
                <br/>
                <form name="input" method="get">
                    <input type="hidden" name="gameId" value="@gameId">
                    Card inputs: <input type="text" name="input">                    
                    <input type="submit" value="play">
                </form>
            }
        </p>
    </div>
</div>